<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel="hoja de estilo ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body>



    <main>
        <header class="header">

            <div class="header-containerDivLogoBusqueda">
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="header-logo">

                <form action="index.html" method="POST" class="header-form">
                    <input type="text" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas"
                        class="header-form__search">
                    <button type="button" class="header-form__buttonBusqueda"><i class="fas fa-search"
                            class="header-form__buttonBusquedaIcono"></i></button>
                </form>
            </div>

            <div class="header-containerCuotas">
                <i class="fas fa-handshake header-div__icono"></i>
                <p class="header-div__cuotasTarjeta">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <nav class="header-nav">

                <div class="header-navContainerMenuIcono">
                    <a href="#" class="header-nav__menu"></a><i class="fas fa-bars header-nav__menuIcono"></i></a>
                </div>


                <ul class="header-nav__lista">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>

                <ul class="header-nav__lista">
                    <li><a href="">Crea tu cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis Compras</a></li>
                </ul>
            </nav>





        </header>






        <section class="section">
            <img src="/images/img-home-banner.jpg" alt="home-banner" class="section-banner">
        </section>



        <section class="section-container">
            <div class="div-section">
                <h4 class="div-section-ultimaVisita">Basado en tu última visita</h4>
                <article class="div-section-productos primer-producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$6770</h5>
                        <span class="div-section__spanOfertas">40% OFF</span>
                        <p>Cafetera Moulinex Dulce Gusto</p>
                    </div>
                </article>

                <article class="div-section-productos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$230.000</h5>
                        <span class="div-section__spanOfertas">20% OFF</span>
                        <p>Mac Book Pro 2019</p>
                    </div>
                </article>

                <article class="div-section-productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular-samsung-s10"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$70500</h5>
                        <span class="div-section__spanOfertas">15% OFF</span>
                        <p>Teléfono móvil Samsung Galaxy S10</p>
                    </div>
                </article>

                <article class="div-section-productos ultimo-producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="smart-samsung-43"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$34000</h5>
                        <span class="div-section__spanOfertas">5% OFF</span>
                        <p>Smart Samsung 43</p>
                    </div>
                </article>
            </div>



            <div class="div-section">
                <h4 class="div-section-ofertas">Ofertas</h4>
                <article class="div-section-productos primer-producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$6770</h5>
                        <span class="div-section__spanOfertas">40% OFF</span>
                        <p>Cafetera Moulinex Dulce Gusto</p>
                    </div>
                </article>

                <article class="div-section-productos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$230.000</h5>
                        <span class="div-section__spanOfertas">20% OFF</span>
                        <p>Mac Book Pro 2019</p>
                    </div>
                </article>

                <article class="div-section-productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular-samsung-s10"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$70500</h5>
                        <span class="div-section__spanOfertas">15% OFF</span>
                        <p>Teléfono móvil Samsung Galaxy S10</p>
                    </div>
                </article>

                <article class="div-section-productos ultimo-producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="smart-samsung-43"
                        class="div-section-productos__imagen">
                    <div class="div-section-info">
                        <i class="fas fa-truck icono-envio"></i>
                        <h5>$34000</h5>
                        <span class="div-section__spanOfertas">5% OFF</span>
                        <p>Smart Samsung 43</p>
                    </div>
                </article>
            </div>

        </section>






        <footer class="footer">
            <article class="footer__pago">
                <i class="fas fa-credit-card iconos-footer"></i>
                <h6>Pagá con tarjeta o en efectivo</h6>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                    pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer__envio">
                <i class="fas fa-gift iconos-footer"></i>
                <h6>Envío gratis desde los $ 2.500</h6>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                    productos. Es un beneficio de MercadoPuntos.</p>
            </article>
            <article class="footer__seguridad">
                <i class="fas fa-user-shield iconos-footer"></i>
                <h6>Seguridad, de principio a fin</h6>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                    porque estás siempre prtegid@.</p>
            </article>
            <div class="footer__copyright">
                <h6>Copyright © 1999-2019 MercadoLiebre S.R.L.</h6>
            </div>
        </footer>


    </main>

</body>

</html>