<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<header>
    <h3>Buscar productos, marcas y más.</h3>
    <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
    
    <nav>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="100%">
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>        

        <ul>
            <li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis Compras</a></li>
        </ul>
    </nav>

    <div>
        <img src="/images/img-home-banner.jpg" alt="home-banner" width="100%">
    </div>
</header>


<main>
    <h4>Basado en tus últimas visitas</h4>
    <h4>Ofertas</h4>

    <section>
        <div>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="100%">
            <h5>$6770</h5>
            <h5>40% OFF</h5>
            <p>Cafetera Moulinex Dulce Gusto</p>
        </div>
        <div>
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" width="100%">
            <h5>$230.000</h5>
            <h5>20% OFF</h5>
            <p>Mac Book Pro 2019</p>
        </div>
        <div>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular-samsung-s10" width="100%">
            <h5>$70500</h5>
            <h5>15% OFF</h5>
            <p>Teléfono móvil Samsung Galaxy S10</p>
        </div>
        <div>
            <img src="/images/img-tv-samsung-smart.jpg" alt="smart-samsung-43" width="100%">
            <h5>$34000</h5>
            <h5>5% OFF</h5>
            <p>Smart Samsung 43</p>
        </div>
    </section>

    <section>
        <div>
            <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="100%">
            <h5>$6770</h5>
            <h5>40% OFF</h5>
            <p>Cafetera Moulinex Dulce Gusto</p>
        </div>
        <div>
            <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" width="100%">
            <h5>$230.000</h5>
            <h5>20% OFF</h5>
            <p>Mac Book Pro 2019</p>
        </div>
        <div>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular-samsung-s10" width="100%">
            <h5>$70500</h5>
            <h5>15% OFF</h5>
            <p>Teléfono móvil Samsung Galaxy S10</p>
        </div>
        <div>
            <img src="/images/img-tv-samsung-smart.jpg" alt="smart-samsung-43" width="100%">
            <h5>$34000</h5>
            <h5>5% OFF</h5>
            <p>Smart Samsung 43</p>
        </div>
    </section>
</main>


<footer>
    <h6>Pagá con tarjeta o en efectivo</h6>
    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
    pago. ¡Y siempre es seguro!</p>

   <h6>Envío gratis desde los $ 2.500</h6>
    <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
    productos. Es un beneficio de MercadoPuntos.</p>

    <h6>Seguridad, de principio a fin</h6>
    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
    porque estás siempre prtegid@.</p>    

    <h6>Copyright © 1999-2019 MercadoLiebre S.R.L.</h6>

</footer>


</body>
</html>