<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel = "hoja de estilo ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
   
 
</head>
<body>
  <main>

    <header class="header">

        <div class="header-container-logo-busqueda">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="header-logo">

            <form action="index.html" method="POST" class="header-form-search">
                <input type="text" id="busqueda" name="busqueda" placeholder="Buscar productos, marcas"
                    class="header-form-search-input">
                <button type="button" class="header-form-search-button"><i
                        class="fas fa-search header-form-search-icon"></i></button>
            </form>
        </div>

        <div class="header-container-pay">
            <i class="fas fa-hand-holding-usd header-pay-icon"></i> 
            <p class="header-pay-details">Comprá en cuotas y sin tarjeta de crédito</p>
        </div>


        <nav class="header-container-nav">

            <div class="header-nav-menu">
                <a href="#" class="header-nav-menu-link"><i class="fas fa-bars header-nav-menu-icon"></i></a>
            </div>

            <div class="header-nav-list">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>

                <ul>
                    <li><a href="">Crea tu cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis Compras</a></li>
                </ul>
            </div>
        </nav>
    </header>

    


    <section class="section">
        <form action="index.html" method="POST" class="form-login">
            
            <input type="text" name="Nombre de Usuario" id="usuario" placeholder="Nombre de usuario" class="form-login__inputName input">      
            
            <input type="password" name="Contraseña" id="contraseña" placeholder="Elegí tu contraseña" class="form-login__inputPassword input">

            <button type="submit" class="form-login__ingresar">Ingresar</button>
        </form>
    </section>

    
    <footer class="footer">
        <article class="footer-container-pay">
            <i class="fas fa-credit-card footer-pay-icon footer-icon"></i>
            <h6 class="footer-title">Pagá con tarjeta o en efectivo</h6>
            <p class="footer-detail">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer-container-shipping">
            <i class="fas fa-gift footer-shipping-icon footer-icon"></i>
            <h6 class="footer-title">Envío gratis desde los $ 2.500</h6>
            <p class="footer-detail">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article class="footer-container-security">
            <i class="fas fa-user-shield footer-security-icon footer-icon"></i>
            <h6 class="footer-title">Seguridad, de principio a fin</h6>
            <p class="footer-detail">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.</p>
        </article>
        <div class="footer-container-copyright">
            <h6>Copyright © 1999-2019 MercadoLiebre S.R.L.</h6>
        </div>
    </footer>



  </main>
</body>
</html>