/* SECTION */

.section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-container-banner {
    border: solid 1px blue;
}

.section-container-products {
    border: solid 1px rgb(221, 136, 25);
}

