/* SECTION */

.section-banner {
    width: 100%;
    display: block;
}

.section-container-products {
    border: green solid 1px;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    background-color: #c313d3;
    align-items: center;
}

.section-products-article {
    border: solid 1px rgb(0, 34, 128);
    margin: 0px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-section-info {
    border-top: 1px solid #ebebeb;
    width: 100%;
    background-color: rgb(123, 123, 231);
}

.div-section-info h5 {
    width: 30%;    
    display: inline-block;
    background-color: blue;
}

.div-section__spanOfertas {
    color: green;
    width: 70%;
    display: inline-block;
    background-color: rgb(25, 204, 40);
 }








.icono-envio {
    color: green;
    display: block;
}


.div-section-productos {
    margin: 20px 0px;
    padding: 15px;
    background-color: white;
}



.first-product {
    margin-top: 10px;
}

.last-product {
    margin-bottom: 10px;
}

/* .article-padding {
    padding: 15px;
} */

