.section {
    width: 100%;
    background-color: #cecece;
}

.form-login {
    width: 100%;
    padding: 20px;
}

.form-login__labelName {

}

.form-login__inputName {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.form-login__labelPassword {

}


.form-login__inputPassword {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}


.form-login__ingresar {
    color: #ffffff;
    background-color: #0044AA;
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    outline: none;
    border: solid 1px #0044AA;
}


.form-login__ingresar:hover {
    color: #ffffff;
    background-color: #0022AA;
    ;
}

.input {
    border-radius: 5px;   

}