.section {
    width: 100%;
    background-color: #ebebeb;
}

.main-form {

}

.main-form__labelName {

}

.main-form__inputName {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}


.main-form__labelUser {

}

.main-form__inputUser {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__labelMail {

}

.main-form__inputMail {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__labelAge {

}

.main-form__inputAge {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__labelPerfil {

}

.main-form__inputPerfil {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__labelInteresting {

}

.main-form__inputInteresting {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__file {

}

.main-form__labelPassword {

}

.main-form__inputPassword {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__labelPasswordConfirm {

}

.main-form__inputPasswordConfirm {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__submit {
    color: #ffffff;
    background-color: #0044AA;
}

.main-form__reset {
    color: white;
    background-color: #AA0044;
}

.main-form__reset:hover {
    background-color: #CC1155;
}



.main-form-perfil-container-label {
    font-weight: bold;
}

.main-form-perfil-container-input {
    display: flex;
    justify-content: center;
}

.main-form__inputPerfilSpan {
    margin: 20px 0;
}

.main-form-interesting-container-label {
    font-weight: bold;
}

.main-form-interesting-container-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: blue;
}


.main-form__inputInterestingSpan {
    margin: 20px 0;
    background-color: green;
}