/*SECTION*/

.section {
    width: 100%;
    background-color: #cecece;
    padding: 20px;
}

/*NAME*/

.main-form__inputName {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

/*USER*/

.main-form__inputUser {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

/*MAIL*/

.main-form__inputMail {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

/*EDAD*/

.main-form__labelAge {
    font-weight: bold;
}

.main-form__inputAge {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

/*Dirección*/

.main-form__inputAdress {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

/*PERFIL*/

.main-form__inputPerfil {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form-perfil-container-label {
    font-weight: bold;
}

.main-form-perfil-container-input {
    display: flex;
    justify-content: center;
}

/*INTERESES*/

.main-form-interesting-container-label {
    font-weight: bold;
}


.main-form-interesting-container-input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form-interesting-container-input__Electro {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form-interesting-container-input__Moda {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form-interesting-container-input__Hogar {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form-interesting-container-input__Jugueteria {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}
 
.main-form-interesting-container-input__VidaSana {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.interesting-span {
    margin-left: 10px;
}
/*SELECCIONAR ARCHIVO*/

.main-form__fileLabel {
    font-weight: bold;
}


/*CONTRASEÑA*/

.main-form__inputPassword {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

.main-form__inputPasswordConfirm {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px solid #0022AA;
}

/*ENVIAR*/

.main-form__submit {
    color: #ffffff;
    background-color: #0044AA;
    display: block;
    width: 100%;
    outline: none;
    border: solid 1px  #0044AA; 
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.main-form__submit:hover {
    background-color: #0022AA;
}

/*RESET*/

.main-form__reset {
    color: #ffffff;
    display: block;
    width: 100%;
    outline: none;
    border: solid 1px #AA0044; 
    height: 35px;
    background-color: #AA0044;
    border-radius: 5px;
}


.main-form__reset:hover {
    background-color: #CC1155;
}

.main-form__inputPerfilSpan {
    margin: 20px 0;
}