* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    width: 100%;
    font-family: roboto, sans-serif;
}



/* HEADER */

.header {
    background-color: #EAC926;
    width: 100%;
}


.header-containerDivLogoBusqueda {
    display: flex;

}

.header-form {
    width: 100%;
}


.header-logo {
    width: 50%;
}

.header-form__search {
    display: block;
    width: 100%;
}


.header-div__cuotasTarjeta {
    display: inline-block;
}


.header-navContainerMenuIcono {
    display: flex;
    justify-content: center;
}

.header-nav__menuIcono {
    background-color: #0044AA;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
}

.header-nav__menuIcono:hover {
    background-color: #0022AA;
    cursor: pointer;
}

.header-nav__lista {
    display: none;
    text-align: center;
}



/* FOOTER */


.footer {
    padding: 20px 5%;
}

.footer__pago {
    margin-bottom: 10px;
}

.footer__envio {
    margin: 20px 0;
}

.footer__seguridad {
    margin: 20px 0;
}


.footer__copyright {
    margin-bottom: 10px;
}

.iconos-footer {
    color: #0044AA;
}


@media (min-width: 361px) {

    .header {
        background-color: #EAC926;
        width: 100%;
        padding: 20px;
    }

    .header-containerDivLogoBusqueda {
     
    }

    .header-logo {
        border: solid 1px red;
    }

    .header-form {
        margin: 0px 10px;
        display: flex;
        background-color: green;
    }

    .header-form__search {
        border-radius: 5px;
        padding: 10px;
        outline: none;
        border: solid 1px rgb(255, 255, 255);
        width: 100%;
    }

    .header-form__buttonBusqueda {
        background-color: #ffffff;
    }

    .header-containerCuotas {
        background-color: brown;
        margin-top: 20px;
    }

}